body {
    font-family: 'Inter';
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    font-weight: 500;
    color: #00965f;
}

a:link {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-family: 'IBM Plex Sans';
    font-weight: 800;
    font-size: 28pt;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.contact-links {
    font-size: 18px;
    text-align: center;
}
.contact-links li {
    display: inline-block;
}
.contact-links li:not(:last-child):after {
    content: "|";
    color: #777;
}
.contact-links a {
    margin: 0px 10px;
}

.content {
    line-height: 1.6;
    font-size: 14px;
    margin-top: -10px;
}

h2 {
    font-size: 22px;
    margin-top: 28px;
    margin-bottom: 5px;
}

.label {
    font-weight: 500;
}

.title {
    font-weight: 600;
}

.title:after {
    content: ", ";
}

.subsection-item:first-child {
    margin-top: 7px;
}

.subsection-item {
    margin: 20px 0px;
}

.subsection-item ul {
    margin: 5px 0px;
}

.subsection-item li {
    margin: 4px 0px;
}

.subsection-heading>span {
    padding: 0px 3px;
    font-size: 17px;
}

.subsection-heading>span:first-child {
    padding-left: 0px;
}

.subsection-heading>span:last-child {
    padding-right: 0px;
}

.timespan {
    color: #777;
}

.subsection-content {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

td.label {
    width: 150px;
    text-align: center;
    font-size: 17px;
    text-align: center;
}

.sublabel {
    font-weight: 300;
    font-size: 12px;
    color: #333;
}

.footer {
    font-size: 13px;
    color: #777;
    text-align: center;
     /* there doesn't appear to be a good way to get the footer to display at 
     the bottom of the page without also displaying on every page - this will
     need adjustment upon editing content */
    margin-top: 490px;
}